<footer>
    <section class="pie">
        <p class="footerItem"><a href="#">Términos y condiciones</a>
    </section>
    <section>
        <p class="footerItem"><a href="#">Contactanos</a>
    </section>
    
    
</footer>