<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/productCart.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a2077fc4c2.js" crossorigin="anonymous"></script>

    <title>Happy e-Shop - Carrito de Compras</title>
</head>
<body>
    <%- include ("../partials/header") %>
    
 <main>
    <section>
        <article class="info">
            <div class="div-img" >
                <img class="imagen-producto" src="img/producto-prueba-carrito.jpg" alt="producto prueba">  
            </div>
            <div class="descripcion">
                <span>
                    <p>Regulador De Ph Hidroponia </p>
                    <br>
                    <br>
                    <p>Envío gratis</p>
                </span>
                <span class="buy-button">
                    <input class="enviar" type="submit" value="+" /> 0 <input class="enviar" type="reset" value="-" />
                </span>
            </div>
        </article>
        <article class="opciones">
            <br>
            <ul class="option-list">
                <li><a href="#">Eliminar</li></a>
                <li><a href="#">Productos similares</li></a>
                <li><a href="#">Comprar ahora</li></a>
                <li><a href="#">Guardar para después</li></a>
            </ul>
                <br>
                <br>
                <br>
                <br>
            <div class="envio">
                <P>Envío a Sarmiento 1551, San Miguel</P>
                <br>
                <p>Costo total $3500</p>
            </div>
                <br>
                <br>
                <br>
                <br>
            
            <input class="comprar" type="submit" value="Comprar">
            
        </article>
    </section>


</main>
<%- include ("../partials/footer") %>
</body>
</html>
