<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/index.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/63355f2aa7.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    
    <title>Happy e-Shop - Contactanos</title>
</head>
<header class="main-header">
    
    <section class="barra">
        <article class="logo"><a href="/"><img src="/img/hidroponia.png" class="imagenlogo"></a></article>
        <article>
            <button class="up"><a href="/products">Productos</a></button>
        </article>
        <article>
            <button class="up"><a href="/who">Quienes Somos</a></button>
        </article>
        <article>
            <button class="up"><a href="/login">Acceder</a></button>
        </article>
        <article>
            <button class="up"><a href="/register">Registrate</a></button>
        </article>
        <article>
            <button class="up"><a href="/cart">Carrito</a></button>
        </article>
        <article class="burger-menu"><a href="#" ><i class="fas fa-bars img burger"></i></a></article>
    </section>
    
</header>

<main>
    <section>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor porta orci. Fusce quis ipsum magna. Morbi a mattis diam. Duis tincidunt, felis ut accumsan lobortis, mi mi condimentum ex, in viverra elit tellus nec odio. Maecenas ut ligula ac elit consequat congue. Duis sit amet consequat nibh, nec cursus leo. Praesent ut imperdiet diam. Duis aliquet odio nec nunc aliquet dapibus.
    
    Aenean bibendum ullamcorper tincidunt. Mauris id justo lobortis, iaculis ipsum vehicula, aliquet mauris. Mauris pellentesque sagittis elit, quis blandit felis bibendum quis. Vivamus bibendum feugiat tellus quis vehicula. Etiam id ligula ut est condimentum congue. Aliquam feugiat quam id diam ultrices, id euismod orci rutrum. Donec a luctus magna. Fusce dignissim gravida turpis, vel laoreet urna. Morbi ut nulla et nunc porta dapibus sit amet eget leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    
    Etiam mattis vulputate posuere. Vestibulum sed suscipit leo, ac ornare dolor. Morbi rhoncus est tellus, ut faucibus neque lacinia nec. Sed fermentum, ex in ultrices mollis, dui sapien imperdiet magna, sit amet porta justo elit sit amet augue. Phasellus pretium mauris ut purus finibus, vitae convallis ligula porttitor. Vivamus eleifend elementum vehicula. Cras tincidunt finibus tincidunt. Curabitur varius, magna nec egestas ultrices, leo elit consequat nunc, at ullamcorper tellus ante sed purus. Vestibulum molestie eget lorem nec imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis eleifend lectus vel maximus. Suspendisse dui mi, accumsan faucibus viverra a, consectetur aliquet est. In facilisis diam a malesuada mattis.
        </p>
    </section>
    </main>
    <%- include ("partials/footer") %>
    
</body>

</html>