<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
  
    <header>
<section class="barra">
    <article>
        <img src="/img/Logo.png" class="imagenlogo">
    </article>
    <article>
        <button class="up">caracteristicas</button>
    </article>
    <article>
        <button class="up">precio</button>
    </article>
    <article>
        <button class="up">preguntas frecuentes</button>
    </article>
    <article>
        <button class="up">contacto</button>
    </article>
    <article>
        <button class="up">ingresar</button>
    </article>
</section>
    </header>
    <secion class="formulario" >
        <article>
            <h1 class="bienvenido">Bienvenido</h1>
        </article>
        <article class="centrar">
            <form action="/login" method="POST">
                <p>
                    <input class="formin" type="text" name="usuario" placeholder="Nombre de Usuario">
                </p>
                <p>
                    <input class="formin1" type="password" name="contrasenia" placeholder="Contraseña">
                </p>
            </form>
        </article>
        <article>
            <button class="iniciosesion">Iniciar sesion</button>
        </article>
        <article><button class="olvidarcontra">¿Has olvidado tu contraseña?</button>
        </article>
        <article><button class="olvidarcontra">¿No tienes cuenta? Registrate</button>
        </article>
    </secion>

    
</body>
</html>
