<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/detailproduct.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <header>
        <section class="barra">
            <article>
                <p class="up"><img src="/img/Logo.png" class="imagenlogo"></p>
            </article>
            <article>
                <button class="up">caracteristicas</button>
            </article>
            <article>
                <button class="up">precio</button>
            </article>
            <article>
                <button class="up">preguntas frecuentes</button>
            </article>
            <article>
                <button class="up">contacto</button>
            </article>
            <article>
                <button class="up">ingresar</button>
            </article>
        </section>
    </header>
    <section class="products">
        <!-- Nos piden que manejemos el logo del envío, el precio, el porcentaje de descuento y la descripción del artículo como elementos de una caja dentro de la caja general del artículo. -->
        <article class="product">
            <div class="product-container-img">
                <img class="product-img" src="/image/img-cafetera-moulinex.jpg" class="foto">
            </div>
            <div class="product-container-info">
                <i class="fas fa-truck product-icon"></i>
                <p class="product-price">$6.770</p>
                <p class="product-discount">40% OFF</p>
                <P class="product-name">Cafetera Moulinex</P>
            </div>
        </article>

        <article class="product">
            <div class="product-container-img">
                <img class="product-img" src="/image/img-macbook-pro-2019.jpg" class="foto">
            </div>
            <div class="product-container-info">
                <i class="fas fa-truck product-icon"></i>
                <p class="product-price">$230.000</p>
                <p class="product-discount">20% OFF</p>
                <p class="product-name">MacBook Pro 2019</p>
            </div>
        </article>

        <article class="product">
            <div class="product-container-img">
                <img class="product-img" src="/image/img-samsung-galaxy-s10.jpg" class="foto">
            </div>
            <div class="product-container-info">
                <i class="fas fa-truck product-icon"></i>
                <p class="product-price">$70.500</p>
                <p class="product-discount">10% OFF</p>
                <p class="product-name">Samsung Galaxy S10</p>
            </div>
        </article>

        <article class="product">
            <div class="product-container-img">
                <img class="product-img" src="/image/img-tv-samsung-smart.jpg" class="foto">
            </div>
            <div class="product-container-info">
                <i class="fas fa-truck product-icon"></i>
                <p class="product-price">$23.200</p>
                <p class="product-discount">5% OFF</p>
                <p class="product-name">SmartTv Samsung 43"</p>
            </div>
        </article>

    </section>
</body>
</html>

