<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/productList.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/63355f2aa7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

    <title>Happy e-Shop - Detalle de Productos</title>
</head>
<body>
    <header class="main-header">
        <section class="logo"><img src="/img/hidroponia.png" class="imagenlogo"></section>
        <section class="barra">
            <article>
                <button class="up">caracteristicas</button>
            </article>
            <article>
                <button class="up">precio</button>
            </article>
            <article>
                <button class="up">preguntas frecuentes</button>
            </article>
            <article>
                <button class="up">contacto</button>
            </article>
            <article>
                <button class="up">ingresar</button>
            </article>
        </section>
        <section class="space">&nbsp;</section>
        <section class="burger-menu"><a href="#" ><i class="fas fa-bars img burger"></i></a></section>
    </header>
    <main>
        <div class="main-header-button-img">
            <img src="/img/img-home-banner.jpg" class="main-home-banner">
        </div>

        <p class="main-title-last-visit">Nuestros Productos</p>

        <section class="products">
            <!-- Nos piden que manejemos el logo del envío, el precio, el porcentaje de descuento y la descripción del artículo como elementos de una caja dentro de la caja general del artículo. -->
            <article class="product">
                <div class="product-container-img">
                    <img class="product-img" src="/img/Reductor_PH.jpg" >
                </div>
                <div class="product-container-info">
                    <p class="product-price">$2.400</p>
                    <p class="product-name">Reductor de PH ACME</p>
                </div>
                <div class="product-container-add">
                    <p class="product-add-cart">Agregar al Carrito</p>
                    <input class="enviar" type="submit" value="+" /> 0 <input class="enviar" type="reset" value="-" />
                </div>
            </article>

            <article class="product">
                <div class="product-container-img">
                    <img class="product-img" src="/img/Medidor_PH.jpg" >
                </div>
                <div class="product-container-info">
                    <p class="product-price">$6.700</p>
                    <p class="product-name">Medidor de PH ACME</p>
                </div>
                <div class="product-container-add">
                    <p class="product-add-cart">Agregar al Carrito</p>
                    <input class="enviar" type="submit" value="+" /> 0 <input class="enviar" type="reset" value="-" />
                </div>
            </article>

            <article class="product">
                <div class="product-container-img">
                    <img class="product-img" src="/img/Fenolica.jpg" >
                </div>
                <div class="product-container-info">
                    <p class="product-price">$1.500</p>
                    <p class="product-name">Espuma fenólica ACME</p>
                </div>
                <div class="product-container-add">
                    <p class="product-add-cart">Agregar al Carrito</p>
                    <input class="enviar" type="submit" value="+" /> 0 <input class="enviar" type="reset" value="-" />
                </div>
            </article>

        </section>
    </main>
    <%- include ("partials/footer") %>
</body>
</html>
