<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/register.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <header>
<section class="barra">
    <article>
        <p class="up"><img src="/img/Logo.png" class="imagenlogo"></p>
    </article>
    <article>
        <button class="up">caracteristicas</button>
    </article>
    <article>
        <button class="up">precio</button>
    </article>
    <article>
        <button class="up">preguntas frecuentes</button>
    </article>
    <article>
        <button class="up">contacto</button>
    </article>
    <article>
        <button class="up">ingresar</button>
    </article>
</section>
    </header>
    <main>

        <form class="register" action="/" method="GET">
            <ul>
            <li><input type="text" name="name"  placeholder="Nombre y Apellido" required/></li>
            <br>
            <li><input type="email" name="email" placeholder="email"/></li>
            <br>
            <li><input type="date" name="nacimiento" /></li>
            <br>
            <li><input type="text" name="domicilio" placeholder="Domicilio:"/></li>
            <br>
            <li><input type="text" name="ciudad" placeholder="Ciudad:"/> </li>
            <br>
            <li><input type="text" name="pais" placeholder="Pais:"/></li>
            <br>

        </form>

    </main>

    
</body>
</html>

