* {

    box-sizing: border-box;
}


body{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: #3AAFA9;
    background-size: cover;
    background-repeat: repeat;

}

.barra{
    height: 120px;
 display: none;
 flex-wrap: wrap;
 justify-content:space-around;
 background-color: #17252A;
 align-items: top;
 width:99vw;
 border-radius: 10px;


}
/*#121C84*/
.up{
    width: 15vw;
    height:50px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    transition:all 400ms;
    background-color: #17252A;
    border-radius:10px;
    outline:none;
    justify-content:space-around;
    margin-top: 10px;
    border:none;

}
.up:hover{
    background-color: #2B7A78;
}
.formulario{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #2B7A78;
    width:25vw;
    margin: 35px;
    height:50vh;
    border-radius: 20px;
    border: solid 5px #DEF2F1;

}
.bienvenido{
    font-size: 50px;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    position: relative;
    top:10px;
}
.formin{
    height:30px;
    width:250px;
    font-size: 18px;
    color: black;
    background-color: #DEF2F1;
    position:relative;
    bottom:45px;
    border-radius: 5px;
}
.formin1{
    height:30px;
    width:250px;
    font-size: 18px;
    color: black;
    background-color: #DEF2F1;
    position:relative;
    bottom:45px;
    border-radius: 5px;
}
.iniciosesion{
    height:50px;
    width:150px;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    color:white;
    background-color: #121C84;
    border-radius: 7px;
    transition:all 400ms;
    position:relative;
    bottom:50px
}
.iniciosesion:hover{
    background-color: #0D50A9;
}
.olvidarcontra{border-radius: 5px;
    outline:none;
    background:none;
    border:none;
    color:#121C84;
    position:relative;
    bottom:40px
}
.olvidarcontra:hover{
    color:#0D50A9;
}

.imagenlogo{
    width: 30vw;
    padding: 15px;
    object-fit:scale-down;
    position:relative;
    bottom:15px;
    border-radius: 10px;
} 

.logo {
    padding: 15px;
}

.burger-menu{
    background-color: #90e093;
    border-radius: 8px;
    color: #FFF;
    display: block; 
    padding: 10px 10px;
    font-size: 18px;
    max-width: 50px;
}

.burger-menu i {
    text-align:right;
    justify-content: flex-end;
    height: 5px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-direction:row;
    justify-content:space-between;
    background-color: #3AAFA9;
    background-size: cover;
    background-repeat: repeat;

}

@media (min-device-width: 361px){

    body{
        /* Estructura del menu */
        align-items: center;
    }

}