*{ box-sizing: border-box;
}


.barra{
    height: 120px;
 display: flex;
 flex-wrap: wrap;
 justify-content:space-around;
 background-color: #17252A;
 align-items: top;
 width:99vw;
 border-radius: 10px;

}

.up{
    width: 15vw;
    height:50px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    transition:all 400ms;
    background-color: #17252A;
    border-radius:10px;
    outline:none;
    justify-content:space-around;
    margin-top: 10px;
    border:none;

}

.up:hover{
    background-color: #2B7A78;
}

.imagenlogo{
    width: 12vw;
    padding: 15px;
    object-fit:scale-down;
    position:relative;
     bottom:15px;
     border-radius: 10px;
}

body{display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #3AAFA9;
    background-size: cover;
    background-repeat: repeat;

}

/*.dale {
    text-decoration: none;
} esto no esta andando*/


.register{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #2B7A78;
    width:25vw;
    margin: 35px;
    height:50vh;
    border-radius: 20px;
    border: solid 5px #DEF2F1;

}
