
    <!-- <section class="pie">
        <p class="footerItem"><a href="/user/terminos">Términos y condiciones</a>
    </section>
    <section>
        <p class="footerItem"><a href="/user/contactanos">Contactanos</a>
    </section>
    <section>
        <section class="icons">
            <p>Seguinos en:</p>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
        </section>
    </section>
     -->


          <!-- === Footer ===-->
          <footer id="footer">
            <div class="footer-top">
                <div class="container-fluid _footer bg-body-tertiary">
                    <div class="row">
                        <div class="col-md-6  col-lg-3">
                            <h6>Happy e-Shop</h6>
                            <p>
                                Argentina <br>
                                Buenos Aires 1050<br>
                                CABA <br><br>
                                <strong>Telefono:</strong> +54 3345 4356<br>
                                <strong>Correo:</strong> info@happyeshop.com<br>
                            </p>
                        </div>

                        <div class="col-md-6  col-lg-3">
                            <h6>Enlaces</h6>
                            <ul>
                                <li> <a href="/">Inicio</a></li>
                                <li> <a href="/who">Nosotros</a></li>
                                <li> <a href="/products">Productos</a></li>
                                <li> <a href="#">Contacto</a></li>
                            </ul>
                        </div>

                        <div class="col-md-6  col-lg-3">
                            <h6>Servicios en línea</h6>
                            <ul>
                                <li><a href="#">Presupuesto</a></li>
                                <li><a href="/terminos">Terminos</a></li>

                            </ul>
                        </div>

                        <div class="col-md-6  col-lg-3">
                            <h6>Nuestras redes</h6>
                            <p>Mantente informado de todos los nuevos productos</p>
                            <div class="social-links mt-3">
                                <a href="#" class="facebook"><i style="font-size: 2rem; color: darkblue (145, 101, 239);" class="bi bi-facebook"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" class="instagram"><i style="font-size: 2rem; color: darkblue (145, 101, 239);" class="bi bi-instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" class="twitter"><i style="font-size: 2rem; color: darkblue (145, 101, 239);" class="bi bi-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container ">
                <div class="copyright">
                    &copy; Copyright <strong><span>Grupo3 Web Developers</span></strong>. Todos los Derechos reservados
                </div>
            </div>
        </footer>
        <!-- Fin del pie de página -->
