<footer>
    <section class="pie">
        <p class="footerItem"><a href="#">Términos y condiciones</a>
    </section>
    <section>
        <p class="footerItem"><a href="#">Contactanos</a>
    </section>
    <section>
        <section class="icons">
            <p>Seguinos en:</p>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
        </section>
    </section>
    
</footer>