<header class="main-header">
    <!-- <section class="logo"><img src="/img/hidroponia.png" class="imagenlogo"></section> -->
    <section class="barra">
        <article class="logo"><a href="/"><img src="/img/hidroponia.png" class="imagenlogo"></a></article>
        <article>
            <button class="up"><a href="/admin">Admin</a></button>
        </article>
        <article>
            <button class="up"><a href="/products">Productos</a></button>
        </article>
        <article>
            <button class="up"><a href="/who">Quienes Somos</a></button>
        </article>
        <article>
            <button class="up"><a href="/user/login">Acceder</a></button>
        </article>
        <article>
            <button class="up"><a href="/user/register">Registrate</a></button>
        </article>
        <article>
            <button class="up"><a href="/cart">Carrito</a></button>
        </article>
        <article class="burger-menu"><a href="#" ><i class="fas fa-bars img burger"></i></a></article>
    </section>
    <!-- <section class="space">&nbsp;</section> -->
    <!-- <section class="burger-menu"><a href="#" ><i class="fas fa-bars img burger"></i></a></section> -->
</header>

<!-- <div class="main-header-button-img">
    <img src="/img/img-home-banner.jpg" class="main-home-banner">
</div> -->

