<!-- <header class="main-header"> -->

    <!-- <section class="barra">
        <article class="logo"><a href="/"><img src="/img/hidroponia.png" class="imagenlogo"></a></article>
        <article>
            <button class="up"><a href="/admin">Admin</a></button>
        </article>
        <article>
            <button class="up"><a href="/products">Productos</a></button>
        </article>
        <article>
            <button class="up"><a href="/who">Quienes Somos</a></button>
        </article>
        <article>
            <button class="up"><a href="/user/login">Acceder</a></button>
        </article>
        <article>
            <button class="up"><a href="/user/register">Registrate</a></button>
        </article>
        <article>
            <button class="up"><a href="/cart">Carrito</a></button>
        </article>
        <article class="burger-menu"><a href="#" ><i class="fas fa-bars img burger"></i></a></article>
    </section> -->
   
<!-- </header> -->


<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="/img/hidroponia.png" class="imagenlogo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="/who">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/products">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/user/register">Registrate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/user/login">Acceder</a>
              </li>
              <% if (locals.isLogged) { %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/user/logout">Logout</a>
              </li>
              <% } %>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->

              <!--IMPORTANTE: El atributo disabled deshabilita el link para aquellos que no esten logueados-->
              <li class="nav-item">
                <a class="nav-link " href="/admin">Administrar</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
</header>



