<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/63355f2aa7.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>Happy e-Shop - Acceder</title>
</head>
<body>
    <%- include ("../partials/header") %>
    <secion class="formulario">
        <article>
            <h1 class="centrar">Bienvenido</h1>
        </article>
        <br>
        
        <form method="POST" action="/user/login">
            <article class="centrar">
                    <p>
                        <input class="formin" type="text" name="email" placeholder="Email">
                        <% if (locals.errors && errors.email) { %>
                            <div><%= errors.email.msg %></div>
                        <% } %>    
                    </p>
                    <p>
                        <input class="formin1" type="password" name="password" placeholder="Contrase単a">
                    </p>
                    <p>
                        <input class="formin1" type="checkbox" name="remember"> Recordar usuario
                    </p>
            </article> 
            <article class="iniciando">  
                <button type="submit" class="iniciosesion">Iniciar sesion</button>
            </article>
        </form>
        <article class="subir"><button class="olvidarcontra">多Has olvidado tu contrase単a?</button>
        </article>
        <article class="subir"><button class="olvidarcontra">多No tienes cuenta? Registrate</button>
        </article>
    </secion>

    <%- include ("../partials/footer") %>
</body>

</html> 