<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/register.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/63355f2aa7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

    <title>Happy e-Shop - Registrate</title>
</head>
<body>
    <%- include ("../partials/header") %>
    <main>
        <div class="mainContent">
        <section class="registerMainFoto"><img src="/img/hidroponia.png" class="registerFoto"></section>
        <section class="registerSection">
            <form method="POST" action="/register" enctype="multipart/form-data">
                    <ul>
                    <li><input type="text" name="fullname"  placeholder="Nombre y Apellido" required/></li>
                    <br>
                    <li><input type="email" name="email" placeholder="email"/></li>
                    <br>
                    <li><input type="text" name="contraseña" placeholder="Contraseña"/></li>
                    <br>
                    <li><input type="text" name="pais" placeholder="Pais"/></li>
                    <br>
                    <li><input type="file" name="avatar" placeholder="Avatar"/></li>
                    <br>
                    <div >
                        <button type="submit" >Enviar</button>
                    </div>
            </form>
        </section>
        </div>
    </main>
    <%- include ("../partials/footer") %>

    
</body>
</html>
